.movie-card {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  background-color: #1a1a1a;
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.movie-poster {
  position: relative;
  aspect-ratio: 2/3;
  width: 100%;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-btns{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

.worth-btn.active,
.see-btn.active,
.wasted-btn.active{
  background-color: #3e3e3e;
}

.movie-info {
  margin-left: 2rem;
  padding-bottom: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.movie-info h3 {
  font-size: 1rem;
  margin: 0;
}

.movie-info p {
  color: #999;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .movie-card {
    font-size: 0.9rem;
  }

  .movie-info {
    padding: 0.75rem;
  }

}
